*{ margin:0, padding:0; box-sizing:border-box;font-family: 'Lobster', cursive;}
 .carousel-inner img {
    width: 100%;
    height: 90vh;
  }.abouting{width: 100%; height: 350px;}.card {padding:10px 20px; margin-left:75px; margin-top:10px;}@media screen and (max-width: 480px){
	  .card {margin-left:2px; margin-right:2px;margin-top:20px;}
